* {
    font-family: "FiraCode Nerd Font", sans-serif;
    font-size: 1rem;
}

window#waybar {
    background-color: rgba(16, 79, 20, 0.5);
    border-bottom: 3px solid rgba(22, 112, 28, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* Workspaces */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* Spacing for window title and workspaces */
#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}



.modules-right widget {
  background-color: rgba(0,0,0,0.1);
  color: #ffffff;
  padding: 0 0.1rem;
  margin: 0;
}

.modules-right widget:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#idle_inhibitor {
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#battery {
    padding-right: 1rem;
}

/* Battery states */
#battery.charging,
#battery.plugged {
    color: #26A65B;
}

#battery.warning {
    color: #f1c40f;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#temperature.critical {
    color: #eb4d4b;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio.muted,
#wireplumber.muted {
    color: #90b1b1;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
